.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}

.form__group {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;

  padding-bottom: 1rem;
}

.form__input {
  padding: 1rem 3.2rem;
  border: 0.1rem solid var(--light-pale-blue);
  border-radius: 2.8rem;

  font-size: 1.2rem;
  font-weight: 300;
  line-height: 2rem;

  color: var(--very-dark-blue);
}

.form__input::placeholder {
  color: var(--light-pale-blue);
}

.form__input:focus {
  outline: none;
  border: 0.1rem solid var(--blue);
}

.form__input--error {
  border: 0.1rem solid var(--light-red);
}

.form__alert {
  font-size: 1rem;
  font-style: italic;
  line-height: 2rem;
  letter-spacing: 0.013rem;
  text-align: center;

  color: var(--light-red);
}

.form__button {
  width: 100%;
  padding: 1.2rem 0;
  border: none;
  border-radius: 2.8rem;

  color: #ffffff;
  background-color: var(--blue);

  text-align: center;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.6rem;
  box-shadow: 0 0.5rem 1rem 0.2rem var(--blue-opacity);
}

@media (min-width: 700px) {
  .form {
    flex-direction: row;
    gap: 1.6rem;
  }

  .form__group {
    gap: 0.6rem;
    padding: 0;
  }

  .form__input {
    width: calc(100% - 6rem);
    padding: 1.7rem 3rem;

    font-size: 1.6rem;
    line-height: 2rem;
  }

  .form__alert {
    position: absolute;
    bottom: -2.6rem;
    left: 3rem;

    font-size: 1.2rem;
  }

  .form__button {
    width: fit-content;
    padding: 1.8rem 6.2rem;

    text-wrap: nowrap;
    font-size: 1.6rem;
    line-height: auto;
  }
}

.form__button:hover {
  cursor: pointer;
  opacity: 0.8;
  box-shadow: none;
}
