.wrapper {
  display: grid;
  grid-auto-rows: auto auto 1fr;
  gap: 7.2rem;

  width: calc(100vw - 5.6rem);
  max-width: 100%;
  min-height: calc(100vh - 8.1rem - 3.7rem);
  padding: 8.1rem 2.8rem 3.7rem;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;

  padding-inline: 1.8rem;
}

.logo {
  display: block;
  margin: 0 auto;
  width: 5.6rem;
}

.header__content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  text-align: center;
}

.heading {
  font-size: 2.2rem;
  font-weight: 300;
  line-height: 3.2rem;

  color: var(--gray);
}

.heading strong {
  font-weight: 700;

  color: var(--very-dark-blue);
}

.subheading {
  font-size: 1.2rem;
  font-weight: 300;

  color: var(--very-dark-blue);
}

.thumbnail {
  width: 100%;
}

.footer {
  align-self: end;
}

.footer__copy {
  margin-top: 2.7rem;

  text-align: center;
  font-weight: 300;
  font-size: 1rem;

  color: var(--gray);
}

@media (min-width: 700px) {
  .wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 64rem;
    padding: 8rem 0rem 4.9rem;
  }

  .header {
    gap: 4rem;
    padding: 0;
  }

  .header__content {
    gap: 1.6rem;
  }

  .logo {
    width: 9rem;
  }

  .heading {
    font-size: 4.8rem;
    line-height: 6rem;
  }

  .subheading {
    font-size: 2rem;
  }

  .main {
    margin-top: 2.2rem;
  }

  .footer__copy {
    margin-top: 2.5rem;
    font-size: 1.2rem;
  }
}
