.wrapper {
  display: grid;
  grid-auto-rows: auto auto 1fr;
  gap: 7.2rem;

  width: calc(100vw - 5.6rem);
  max-width: 100%;
  min-height: calc(100vh - 8.1rem - 3.7rem);
  padding: 8.1rem 2.8rem 3.7rem;
}

.thumbnail {
  width: 100%;
}

.footer {
  align-self: end;
}

.footer__copy {
  margin-top: 2.7rem;

  text-align: center;
  font-weight: 300;
  font-size: 1rem;

  color: var(--gray);
}

@media (min-width: 700px) {
  .wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 64rem;
    padding: 8rem 0rem 4.9rem;
  }

  .main {
    margin-top: 2.2rem;
  }

  .footer__copy {
    margin-top: 2.5rem;
    font-size: 1.2rem;
  }
}
