* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Libre Franklin Variable", sans-serif;
  font-size: 62.5%;

  --gray: hsl(0, 0%, 59%);
  --very-dark-blue: hsl(209, 33%, 12%);
  --pale-blue: hsl(223, 100%, 88%);
  --light-pale-blue: hsl(223, 59%, 83%);
  --blue: hsl(223, 87%, 63%);
  --blue-opacity: hsla(223, 87%, 63%, 0.23);
  --light-red: hsl(354, 100%, 66%);
}

body {
  font-size: 2rem;
}
